<div class="row featurette py-5 bg-light">
  <div class="col-md-4 mx-5 my-3">
    <h2 class="featurette-heading font-lobster">BMI (Body Mass Index)<span class="text-muted"></span></h2>
    <br>
    <p class="lead">là dự án nhỏ của chúng tôi, dựa vào chỉ số BMI của cơ thể bạn, từ đó đưa ra gợi ý về những bài tập với nội dung phong phú và chế độ ăn phù hợp với cơ thể bạn<br>
    Dù bạn là người gầy hay thừa cân chỉ cần bạn đủ quyết tâm và kiên trì chúng tôi sẽ đồng hành cùng bạn. Hãy cùng kiểm tra ngay hôm nay</p>
    <button type="button" class="btn btn-info">
      <a href="" class="text-white">Kiểm tra  BMI</a>
    </button>
  </div>

  <div class="col-md-6">
    <iframe width="750" height="480" 
      src="https://www.youtube.com/embed/_m9At9ywh3E" 
      frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
    </iframe>
  </div>
</div>


<div class="row featurette py-5" style="background-color:#f0f0f0;">
  <div class="col-md-7 mx-5">
    <iframe width="750" 
      height="480" src="https://www.youtube.com/embed/wJjf4p96rVk" 
      frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
    </iframe>
  </div>
  <div class="col-md-4 my-5">
    <h2 class="featurette-heading">Sự thay đổi diệu kì</h2><br><br>
    <p class="lead">Hãy để chúng tôi kể cho bạn nghe câu chuyện kì diệu của cô gái.
      Cô ấy đã chấp nhận thử thách và quyết định thay đổi bản thân.
      <br> Còn bạn?, bạn đã sẵn sàng chưa. Hãy tham gia cùng chúng tôi ngay hôm nay</p>
      <button type="button" class="btn btn-info">
        <a href="" class="text-white">Kiểm tra  BMI</a>
      </button>
  </div>
</div>

<div class="row featurette py-5 d-flex justify-content-center" style="background-color:#f0f0f0;">
    <button type="button" class="btn btn-success">
    <a href="" class="text-white">SEE MORE</a>
    </button>
</div>

