<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    {%include 'meta-data.html'%}
</head>
<body>
    {%include 'homepage/navigation.html'%}
    <div class="row featurette d-flex justify-content-around flex-wrap">
        <div class="w-75 h-240px d-flex flex-row justify-content-around align-items-center exercises">
            <img src="../static/image/bg_1.jpg" style="width: 22%; height: 80%; border: 5px outset lavender;">
            <img src="../static/image/bg_2.jpg" style="width: 22%; height: 80%; border: 5px outset lavender;">
            <img src="../static/image/bg_5.jpg" style="width: 22%; height: 80%; border: 5px outset lavender;">
            <img src="../static/image/blog14.jpg" style="width: 22%; height: 80%; border: 5px outset lavender;">
        </div>
        <div class="w-75 h-240px d-flex flex-row justify-content-around align-items-center exercises">
            <img src="../static/image/blog2.jpg" style="width: 22%; height: 80%; border: 5px outset lavender;">
            <img src="../static/image/blog6.jpg" style="width: 22%; height: 80%; border: 5px outset lavender;">
            <img src="../static/image/blog10.jpg" style="width: 22%; height: 80%; border: 5px outset lavender;">
            <img src="../static/image/blog3.jpg" style="width: 22%; height: 80%; border: 5px outset lavender;">
        </div>
        <div class="w-75 h-240px d-flex flex-row justify-content-around align-items-center my-5 exercises">
            <img  src="../static/image/bg_4.jpg" style="width: 22%; height: 100%; border: 5px outset lavender;">
            <img  src="../static/image/blog11.jpg" style="width: 22%; height: 100%; border: 5px outset lavender;">
            <img  src="../static/image/blog5.jpg" style="width: 22%; height: 80%; border: 5px outset lavender;">
            <img  src="../static/image/blog1.jpg" style="width: 22%; height: 80%; border: 5px outset lavender;">
        </div>
    
        <div class="w-75 h-240px d-flex flex-row justify-content-around align-items-center my-2 exercises">
            <img class="image" src="../../static/image/bg_3.jpg" style="width: 22%; height: 80%; border: 5px outset lavender;">
            <img class="image" src="../../static/image/blog8.jpg" style="width: 22%; height: 80%; border: 5px outset lavender;">
            <img class="image" src="../../static/image/blog9.jpg" style="width: 22%; height: 80%; border: 5px outset lavender;">
            <img class="image" src="../../static/image/blog7.jpg" style="width: 22%; height: 80%; border: 5px outset lavender;">
        </div>
        <div class="w-75 h-240px d-flex flex-row justify-content-around align-items-center exercises">
            <img src="../static/image/bg_3.jpg" style="width: 22%; height: 80%; border: 5px outset lavender;">
            <img src="../static/image/bg_7.jpg" style="width: 22%; height: 80%; border: 5px outset lavender;">
            <img src="../static/image/blog8.jpg" style="width: 22%; height: 80%; border: 5px outset lavender;">
            <img src="../static/image/blog9.jpg" style="width: 22%; height: 80%; border: 5px outset lavender;">
        </div>
    </div>
    {%include 'homepage/footer.html'%}
</body>
</html>