<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Trang cá nhân</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
        <h1> Các chỉ số cơ thể</h1>
        <table border = "1px">
            <thead>
                <th>STT</th>
                <th>Thời gian</th>
                <th>Chiều cao</th>
                <th>Cân nặng</th>
                <th>BMI</th>
                <th>Phân loại</th>
                <th>Chế độ luyện tập</th>
            </thead>
            <tbody>
                {% for body in all_body %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{body.time}}</td>
                    <td>{{body.height}}</td>
                    <td>{{body.weight}}</td>
                    <td>{{body.bmi}}</td>
                    <td>{{body.bmi_type}} </td>
                    <td><a href="{{url_for('getlean', bmi_id= body.id)}}">View</a></td>
                </tr>               
                {% endfor %} 
                  
            </tbody>
        </table>
        
    {# <a href="{{url_for('getlean', bmi_id=)}}"> Đi đến chế độ luyện tập của bạn</a> #}
    <a href="{{url_for('log_out')}}">Log out</a>

</body>
</html>