<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Overweight</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/style.css" />
    <script src="main.js"></script>
    {%include 'meta-data.html'%}
</head>
<body>
    {% include 'homepage/navigation.html'%}
    <div class="w-700px h-800px d-flex justify-content-center bg-success">
        <div class="container">
            <div class="row">
              <div class="col">
                1 of 2
              </div>
              <div class="col">
                2 of 2
              </div>
            </div>
        </div>
    </div>
</body>
</html>