<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include 'meta-data.html' %}
    <title>Get lean</title>
</head>
<body>
    <div class ="d-flex flex-column m-5 p-5 justify-content-center">
    <h1 class="text-center" > Hãy gia nhập cộng đồng Fitness cùng chúng mình nhé </h1>
    <a  class="text-center" href="https://www.fit247team.com/"> Fit247 Team </a>
</div>
</body>
</html>